/* FONS GENERAL */
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background: #000;            /* Negre */
  color: #00ff66;              /* Verd neó */
}

/* CAPÇALERA */
header {
  background: #00ff66;         /* Verd */
  color: #000;                 /* Negre */
  padding: 1em;
  text-align: center;
}

.logo span {
  color: #000;
}

/* SECCIONS */
.upload-section, .video-section, .output-section {
  margin: 2em;
}

/* BOTÓ PRINCIPAL */
.button {
  background: #00ff66;         /* Verd */
  color: #000;                 /* Negre */
  padding: 0.7em 1.2em;
  border: none;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 1em;
  font-weight: bold;
  border-radius: 6px;
  transition: 0.2s;
}

.button:hover {
  background: #00cc55;         /* Verd més fosc */
}

/* SELECTOR D’EXERCICI */
select {
  background: #000;
  color: #00ff66;
  border: 2px solid #00ff66;
  padding: 0.5em;
  border-radius: 6px;
  font-size: 1em;
}

/* VÍDEO */
video {
  width: 100%;
  max-width: 600px;
  display: block;
  margin: auto;
  border: 3px solid #00ff66;
  border-radius: 10px;
}

/* RESULTATS */
#resultats {
  background: #111;            /* Negre suau */
  padding: 1.5em;
  border: 2px solid #00ff66;
  border-radius: 10px;
  font-size: 1.1em;
  line-height: 1.5em;
}

/* TÍTOLS */
h2 {
  color: #00ff66;
  border-left: 5px solid #00ff66;
  padding-left: 10px;
}
